###############################################################################
# LabVIEW User Files
###############################################################################

*.lvproj.user

###############################################################################
# LabVIEW Build Outputs
###############################################################################

builds/
Builds/
dist/

###############################################################################
# LabVIEW Temporary Files
###############################################################################

*.tmp
*.bak
*.lkd

###############################################################################
# Python
###############################################################################

__pycache__/
*.pyc
*.pyo

###############################################################################
# Python Virtual Environments
###############################################################################

.venv/
venv/
env/

###############################################################################
# IDE Settings
###############################################################################

.vscode/
.idea/

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Operating System Files
###############################################################################

Thumbs.db
.DS_Store

###############################################################################
# Test Output Files
###############################################################################

*_errors.txt
*_CAN_messages.txt

###############################################################################
# Keep Source Files
###############################################################################
# .vi
# .lvproj
# .aliases
# .lvlps
# .py
# .js
# .tcl
# .ui
``
# Executables
*.exe